.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; /* Black background */
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-brand h1 {
    color: #fff; /* White text */
    font-size: 24px;
  }
  
  .navbar-links {
    display: flex;
    list-style-type: none;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff; /* White text */
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  